.fix-scroll {
    width: auto;
    }
.in-wiz-ttl {
    height: 45px;
    }
/*.fix-scroll:before, .fix-scroll:after {
    display: inline-block;
    }*/
.in-wiz-footer {
    z-index: 10;
    display: none
    }
.main-content {
    margin-left: 220px;
    margin-bottom: 30px;
    }
.menu-min.sidebar + .main-content {
    margin-left: 63px;
    }
.in-wiz-ttl{
    padding:7px 0;
    border-bottom: 1px solid #DDDDDD;
    margin:0 ;
    background-color: #F6F6F6;
    }
.in-wiz-ttl-custom {
    border-bottom: 1px solid #DDDDDD;
    padding:7px 0 ;
    }
.in-add-sign {
    vertical-align: top
    }
.in-add-txt {
    vertical-align: inherit
    }
.popover-content {
    max-height: 200px;
    overflow: auto;
    padding: 9px 14px;
    }
.tb {
    width: 230px;
    }
.in-border {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;
    }

