<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Searce BI Platform </title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body style="background-color: #ffffff">

    <img src="../images/google-logo.png" style="margin: 10px 10px 10px 50px;width: 15%;position: absolute; z-index: 120" >
    <div class="header-right">
      <img src="../images/searce-logo1.png" style="margin: 7px 100px 20px 50px;width: 65%;">
    </div>

   <div class="home-content">
      <div class="heading" 'style=padding:50px 50px 50px 50px;' >Google Maps Business Intelliegence Platform by Searce </div>
      <div>
        <button class = "custom-button1" onclick="location.href = 'biplatformdemo';" type="button"> Click here to start the demo  </button>
      </div>
   </div>
  </body>
</html>