<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Google Maps</title>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.4.2/css/iziModal.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"/>
    <link rel="stylesheet" href="/vendor/handsontable/dist/angular-ui-handsontable.full.css">
    <link type="text/css" rel="stylesheet" href="/vendor/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/vendor/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"/>
    <link type="text/css" rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="vendor/select2/select2.css">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img id="logoImg" src="images/searce.png">
        </div>
        <p class="navbar-text navbar-center">Google Maps GIS - Help</p>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class=" fa fa-power-off"></span> Logout</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="main">
    <div id="help-body">
        <div class="container-fluid">
            <div class="row row-first">
                <div class="col-md-3 col-lg-3 col-sm-3 column-nav">
                    <div class="help-navigation">
                        <ul>
                            <h4>Heading</h4>

                            <li><a href="#">How to start</a></li>
                            <li><a href="#">How to start</a></li>
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                            <!--<li><a href="#">How to start</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 help-content">
                    <div class="heading">
                        Adding a Google Map with a Marker to Your Website
                    </div>
                    <div class="sub-heading">
                        Introduction
                    </div>
                    <div class="description">
                        <p>
                            This tutorial shows you how to add a simple Google map with a marker to a web page.
                            It suits people with beginner or intermediate knowledge of HTML and CSS, and a little knowledge of JavaScript.
                            For an advanced guide to creating maps, read the developer's guide.
                            Below is the map you'll create using this tutorial.
                        </p>

                       <pre>
                          <code>
                              <html>
                                <body>

                                function createMarker(place, infoWindowContent) {
                                    var placeLoc = place.geometry ? place.geometry.location : place;
                                    var marker = new google.maps.Marker({
                                        map: map,
                                        position: placeLoc
                                        icon : place.icon
                                    });
                                    var infoWindow = new google.maps.InfoWindow();

                                    google.maps.event.addListener(marker, 'click', function () {
                                        infoWindow.setContent(infoWindowContent ? infoWindowContent : place.name);
                                        infoWindow.open(map, this);
                                    });

                                    arrMarkers.push(marker);
                                }
                                </body>
                              </html>
                          </code>
                        </pre>
                    </div>
                </div>
                <hr>
            </div>
        </div> <!--Container-->
    </div> <!-- Help-body -->

</div>
</body>
</html>