<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Google Map - Store Locator Assignment </title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div> <input type="button" id="searchStoreButton" value="Locate Store"/> </div>


    <div id="map"></div>
    <script>

      var map,storesJSON,request,geocoder,radius_circle;
      var locationSelect;
      var infoWindow,infowindow2,infoWindownRadius;
	  var directionsDisplayCollection = [],infowindowsCollection = [];
      var directionsDisplay, directionsService;
      var markers = [];

      var myLatLng, dirLatLng;
      var labelIndex = 0;
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var restaurantMarker;


      function initMap() {

      storesJSON = [
              {
              "id" : "1",
              "name" : "Pune",
              "address" : "Pune",
              "latitude" : 18.514147,
              "longitude" : 73.858150
            },
            {
              "id" : "2",
              "name" : "Goa",
              "address" : "Goa",
              "latitude" : 15.490016,
              "longitude" : 73.832366
            }
      ]

      geocoder = new google.maps.Geocoder();

      map = new google.maps.Map(document.getElementById("map"), {
      center: new google.maps.LatLng(17.260251, 74.187739),
      styles: [
            {elementType: 'geometry', stylers: [{color: '#3b3b42'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#3b3b42'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ],
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      });

    clearDirection();
    clearInfoWindow();

    myLatLng = { lat:storesJSON[0].latitude,lng:storesJSON[0].longitude }
    dirLatLng= { lat:storesJSON[1].latitude,lng:storesJSON[1].longitude }

    for (var i = 0, length = storesJSON.length; i < length; i++) 
    {
        var storeObject = storesJSON[i];
        createMarker(storeObject);
    }
    
    showDirections(myLatLng,dirLatLng);

    var service = new google.maps.places.PlacesService(map);
            service.nearbySearch({
                location : dirLatLng,
                radius : 15000,
                type : [ 'restaurant']
            }, restaurantCallback);

    var zooService = new google.maps.places.PlacesService(map);
        zooService.nearbySearch({
                location : dirLatLng,
                radius : 15000,
                type : [ 'zoo']
            }, zooCallback);

    var churchService = new google.maps.places.PlacesService(map);
    churchService.nearbySearch({
                location : dirLatLng,
                radius : 15000,
                type : [ 'church']
            }, churchCallback);

    var amusementparkService = new google.maps.places.PlacesService(map);
    amusementparkService.nearbySearch({
                location : dirLatLng,
                radius : 15000,
                type : [ 'amusement_park']
            }, amusementparkCallback);

    var casinoService = new google.maps.places.PlacesService(map);
    casinoService.nearbySearch({
                location : dirLatLng,
                radius : 15000,
                type : [ 'casino']
            }, casinoCallback);

    var templeService = new google.maps.places.PlacesService(map);
    templeService.nearbySearch({
                location : dirLatLng,
                radius : 15000,
                type : [ 'hindu_temple']
            }, templeCallback);

    var mallService = new google.maps.places.PlacesService(map);
    mallService.nearbySearch({
                location : dirLatLng,
                radius : 15000,
                type : [ 'shopping_mall']
            }, mallCallback);
    
    


    sataraLatLng= { lat:17.686060,lng:74.023812 }
    kolhapurLatLng= { lat:16.710580,lng:74.280546 }

    var sataraService = new google.maps.places.PlacesService(map);
            sataraService.nearbySearch({
                location : sataraLatLng,
                radius : 1000,
                type : [ 'restaurant']
            }, restaurantCallback);

    var kolhapurService = new google.maps.places.PlacesService(map);
    kolhapurService.nearbySearch({
        location : kolhapurLatLng,
        radius : 1000,
        type : [ 'restaurant']
    }, restaurantCallback);

};

function restaurantCallback(results, status) {
    
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                google.maps.places.type
                for (var i = 0; i < results.length; i++) {
                    createPlacesMarkerForRestaurant(results[i]);
                }
            }
            
            var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }

function zooCallback(results, status) {
    
    if (status === google.maps.places.PlacesServiceStatus.OK) {
        google.maps.places.type
        for (var i = 0; i < results.length; i++) {
            createPlacesMarkerForZoo(results[i]);
        }
    }
}

function churchCallback(results, status) {
    
    if (status === google.maps.places.PlacesServiceStatus.OK) {
        google.maps.places.type
        for (var i = 0; i < results.length; i++) {
            createPlacesMarkerForChurch(results[i]);
        }
    }
}

function amusementparkCallback(results, status) {
    
    if (status === google.maps.places.PlacesServiceStatus.OK) {
        google.maps.places.type
        for (var i = 0; i < results.length; i++) {
            createPlacesMarkerForAmusementPark(results[i]);
        }
    }
}

function casinoCallback(results, status) {
    
    if (status === google.maps.places.PlacesServiceStatus.OK) {
        google.maps.places.type
        for (var i = 0; i < results.length; i++) {
            createPlacesMarkerForCasino(results[i]);
        }
    }
}

function mallCallback(results, status) {
    
    if (status === google.maps.places.PlacesServiceStatus.OK) {
        google.maps.places.type
        for (var i = 0; i < results.length; i++) {
            createPlacesMarkerForMall(results[i]);
        }
    }
}

function templeCallback(results, status) {
    
    if (status === google.maps.places.PlacesServiceStatus.OK) {
        google.maps.places.type
        for (var i = 0; i < results.length; i++) {
            createPlacesMarkerForTemple(results[i]);
        }
    }
}

function createPlacesMarkerForRestaurant(place) {

            //http://maps.google.com/mapfiles/ms/icons/" + color + ".png
            var image = 'http://maps.google.com/mapfiles/kml/pal2/icon19.png';

            var infowindowplacesmarker = new google.maps.InfoWindow();
            var placeLoc = place.geometry.location;
            restaurantMarker = new google.maps.Marker({
                map : map,
                icon : image,
                position : place.geometry.location
            });

            google.maps.event.addListener(restaurantMarker, 'click', function() {
                infowindowplacesmarker.setContent(place.name);
                infowindowplacesmarker.open(map, this);
                showDirectionsForLocations(dirLatLng,placeLoc);
            });
            markers.push(restaurantMarker); 

        }

function createPlacesMarkerForTemple(place) {


            var image = 'http://maps.google.com/mapfiles/kml/pal2/icon10.png';

            var infowindowplacesmarker = new google.maps.InfoWindow();
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map : map,
                icon : image,
                position : place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindowplacesmarker.setContent(place.name);
                infowindowplacesmarker.open(map, this);
            });
            //markers.push(marker);
}

function createPlacesMarkerForMall(place) {

            //http://maps.google.com/mapfiles/ms/icons/" + color + ".png
            var image = 'http://maps.google.com/mapfiles/kml/pal3/icon18.png';

            var infowindowplacesmarker = new google.maps.InfoWindow();
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map : map,
                icon : image,
                position : place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindowplacesmarker.setContent(place.name);
                infowindowplacesmarker.open(map, this);
            });
            //markers.push(marker);
}

function createPlacesMarkerForZoo(place) {

            //http://maps.google.com/mapfiles/ms/icons/" + color + ".png
            var image = 'http://maps.google.com/mapfiles/kml/pal2/icon4.png';

            var infowindowplacesmarker = new google.maps.InfoWindow();
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map : map,
                icon : image,
                position : place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindowplacesmarker.setContent(place.name);
                infowindowplacesmarker.open(map, this);
            });
            //markers.push(marker);
}

function createPlacesMarkerForCasino(place) {

            //http://maps.google.com/mapfiles/ms/icons/" + color + ".png
            var image = 'http://maps.google.com/mapfiles/kml/pal2/icon53.png';

            var infowindowplacesmarker = new google.maps.InfoWindow();
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map : map,
                icon : image,
                position : place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindowplacesmarker.setContent(place.name);
                infowindowplacesmarker.open(map, this);
            });
            //markers.push(marker);
}

function createPlacesMarkerForChurch(place) {

            //http://maps.google.com/mapfiles/ms/icons/" + color + ".png
            var image = 'http://maps.google.com/mapfiles/kml/pal2/icon11.png';

            var infowindowplacesmarker = new google.maps.InfoWindow();
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map : map,
                icon : image,
                position : place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindowplacesmarker.setContent(place.name);
                infowindowplacesmarker.open(map, this);
            });
            //markers.push(marker);
}

function createPlacesMarkerForAmusementPark(place) {

            //http://maps.google.com/mapfiles/ms/icons/" + color + ".png
            var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

            var infowindowplacesmarker = new google.maps.InfoWindow();
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map : map,
                icon : image,
                position : place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindowplacesmarker.setContent(place.name);
                infowindowplacesmarker.open(map, this);
            });
            //markers.push(marker);
}

function showAllDirections(){

  loadAllLocation();

  for (var i = 0, length = storesJSON.length; i < length; i++) {
    var storeObject = storesJSON[i];
    console.log("storeObject: "+ storeObject.id);
    console.log("storeObject.latitude: "+ storeObject.latitude);
    console.log("storeObject.longitude :"+ storeObject.longitude );
    dirLatLng= { lat:storeObject.latitude,lng:storeObject.longitude }
    showDirections(myLatLng,dirLatLng);
  }
}

function loadAllLocation(){
  clearDirection();
  clearInfoWindow();

  for (var i = 0, length = storesJSON.length; i < length; i++) 
  {
    createMarker(storesJSON[i]);
  }
  
}

function clearAllMarker(){
  console.log("Markers Length: "+ markers.length);
  for (var key in markers) {
        markers[key].setMap(null);
      };
}  

function clearDirection(){
		if (directionsDisplayCollection != null) {
            for (var i = 0; i < directionsDisplayCollection.length; i++) {
                directionsDisplayCollection[i].setMap(null);
                directionsDisplayCollection[i] = null;
            }
            directionsDisplayCollection = [];
			
        }
	}
function clearInfoWindow(){
	if(infowindowsCollection != null){
		for(var j = 0; j < infowindowsCollection.length; j++){
			console.log(j);
			infowindowsCollection[j].close();
		}
		infowindowsCollection = [];
	}
}

function showDirections(start, end) {

    clearDirection();
    clearInfoWindow();
    clearRadius();

    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer();
        
    request = {
        origin: start,
        destination: end,
        travelMode: google.maps.DirectionsTravelMode.DRIVING
    };

    directionsService.route(request, function (response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            var directionsDisplay = new google.maps.DirectionsRenderer(
                {
                    suppressMarkers: true
                }
            );
            directionsDisplay.setMap(map);
            directionsDisplay.setOptions({polylineOptions: {strokeColor: 'green'}});
            directionsDisplay.setOptions({ preserveViewport: true });
            directionsDisplay.setDirections(response);
            directionsDisplayCollection.push(directionsDisplay);
            directionsDisplay.setPanel(document.getElementById('directionsList'));

            // $scope.directionsPanel.showList = true;
            infowindow2 = new google.maps.InfoWindow();

            infowindow2.setContent(response.routes[0].legs[0].distance.text + "<br>" + response.routes[0].legs[0].duration.text + " ");
            if (response.routes) {
                if (response.routes[0].overview_path) {
                    var index = parseInt(response.routes[0].overview_path.length / 2);
                    var infoposition = new google.maps.LatLng(response.routes[0].overview_path[index].lat(), response.routes[0].overview_path[index].lng());
                }
            }
            infowindow2.setPosition(infoposition ? infoposition : end);
            infowindow2.open(map);
            infowindowsCollection.push(infowindow2);
  
        }
        else{

          console.log(" Direction Not found : " ) + start + " , " + end;
        }
    });
  }

function showDirectionsForLocations(start, end) {

clearDirection();
clearInfoWindow();

var directionsService = new google.maps.DirectionsService();
var directionsDisplay = new google.maps.DirectionsRenderer();
    
request = {
    origin: start,
    destination: end,
    travelMode: google.maps.DirectionsTravelMode.DRIVING
};

directionsService.route(request, function (response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
        var directionsDisplay = new google.maps.DirectionsRenderer(
            {
                suppressMarkers: true
            }
        );
        directionsDisplay.setMap(map);
        directionsDisplay.setOptions({polylineOptions: {strokeColor: 'green'}});
        directionsDisplay.setOptions({ preserveViewport: true });
        directionsDisplay.setDirections(response);
        directionsDisplayCollection.push(directionsDisplay);
        directionsDisplay.setPanel(document.getElementById('directionsList'));

        // $scope.directionsPanel.showList = true;
        infowindow2 = new google.maps.InfoWindow();

        infowindow2.setContent(response.routes[0].legs[0].distance.text + "<br>" + response.routes[0].legs[0].duration.text + " ");
        if (response.routes) {
            if (response.routes[0].overview_path) {
                var index = parseInt(response.routes[0].overview_path.length / 2);
                var infoposition = new google.maps.LatLng(response.routes[0].overview_path[index].lat(), response.routes[0].overview_path[index].lng());
            }
        }
        infowindow2.setPosition(infoposition ? infoposition : end);
        infowindow2.open(map);
        infowindowsCollection.push(infowindow2);

    }
    else{

      console.log(" Direction Not found : " ) + start + " , " + end;
    }
});
}

  function createMarker(info)
  {     
    console.log("Latitude: "+ info.latitude );
    console.log("Longitude: "+ info.longitude ); 
    
    var locationLatLng= { lat:info.latitude,lng:info.longitude }
      var marker = new google.maps.Marker({
        map: map,
        position: locationLatLng,
        animation: google.maps.Animation.DROP,
        label: labels[labelIndex++ % labels.length],
        title: info.name
        
      })

      marker.content = '<div class="infoWindowContent">' + info.address + '</div>';
      
      google.maps.event.addListener(marker, 'click', function(){
        infoWindow.setContent('<h2>' + marker.title + '</h2>' + marker.content);
        infoWindow.open(map, marker);
      });
      markers.push(marker);
	}


  function selectedStore()
  {
    var selectedStoreLocation = document.getElementById("storeSelect");
    var selectedLocation = selectedStoreLocation.options[selectedStoreLocation.selectedIndex].value;

    console.log("selectedLocation: "+ selectedLocation );
    var value = selectedLocation - 1;
    console.log("Latitude: "+ storesJSON[value].latitude );
    console.log("Longitude: "+ storesJSON[value].longitude );
    clearDirection();
    clearAllMarker();
    clearInfoWindow();
    clearRadius();
		createMarker(storesJSON[value]);
        dirLatLng = { lat : storesJSON[value].latitude , lng : storesJSON[value].longitude};
		showDirections(myLatLng,dirLatLng);
  }


  function geocodeLatLng(geocoder, map, infowindow) {

        var input = document.getElementById('latlng').value;
        var latlngStr = input.split(',', 2);
        var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
        geocoder.geocode({'location': latlng}, function(results, status) {
          if (status === 'OK') {
            if (results[0]) {
              map.setZoom(11);
              var marker = new google.maps.Marker({
                position: latlng,
                map: map
              });
              infowindow.setContent(results[0].formatted_address);
              infowindow.open(map, marker);
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
      }

  function clearRadius()
  {
    if (radius_circle) 
    {
  		radius_circle.setMap(null);
  		radius_circle = null;
  	}
  }    

  function showCloseLocations() {

  	clearDirection();
	clearAllMarker();
    clearInfoWindow();
    clearRadius();
    
    var radius = document.getElementById("radiusSelect");
    var selectedRadius = radius.options[radius.selectedIndex].value;
    

  	if (geocoder) 
    {
  		geocoder.geocode({'location': myLatLng}, function (results, status) {
  			if (status == google.maps.GeocoderStatus.OK) 
        {
  				if (status != google.maps.GeocoderStatus.ZERO_RESULTS) 
          {
            
            var current_lat_lng = results[0].geometry.location;
            radius_circle = new google.maps.Circle({
            center: current_lat_lng,
            radius: selectedRadius * 1000,
            clickable: false,
            map: map
            });

            if ( radius_circle )
            {
              map.fitBounds(radius_circle.getBounds());
            } 
      
            for (var i = 0, length = storesJSON.length; i < length; i++) 
            {
    
              var marker_lat_lng = new google.maps.LatLng(storesJSON[i].latitude, storesJSON[i].longitude);
              //distance in meters between your location and the marker
              var distance_from_location = google.maps.geometry.spherical.computeDistanceBetween(current_lat_lng, marker_lat_lng); 
              if (distance_from_location <= selectedRadius * 1000) 
              {
                console.log("storesJSON[i].name: "+ storesJSON[i].name );
                var new_marker = new google.maps.Marker({
                position: marker_lat_lng,
                map: map,
                title: storesJSON[i].name
                });      								
                
                google.maps.event.addListener(new_marker, 'click', function () {
                if(infoWindownRadius){
                  infoWindownRadius.setMap(null);
                  infoWindownRadius = null;
                }
          
                //var storeName = storesJSON[i].name;
                infoWindownRadius = new google.maps.InfoWindow(
                {
                  content: '<div style="color:red">'+ "Store" +'</div>' + " is " + distance_from_location + " meters from my location",
                  size: new google.maps.Size(150,50),
                  pixelOffset: new google.maps.Size(0, -30),
                  position: marker_lat_lng, map: map});
                });
                markers.push(new_marker);

              }
            }
  				} else {
  					alert("No results found while geocoding!");
  			}
      } else {
        alert("Geocode was not successful: " + status);
      }
  		});
  	}
  }
    
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGzkbwp49nEEB7V2VW-Sb9pjpJYp2YGpw&callback=initMap&libraries=places">
    </script>

  </body>
</html>